@import '../../const/const.scss';
@import '../../const/mixins.scss';

.filter {
  margin-top: 20px;

  &__input {
    margin-right: 10px;
    padding: 5px 7px;
    font-size: 14px;
    border: 1px solid $borderColor;
    border-radius: 3px;
    color: $textColor;
    outline: none;
  }

  &__button {
    @include button;
  }
}