@import '../../const/const.scss';

.movies-grid {
  margin-top: 40px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-basis: 17%;
    flex-shrink: 1;
    flex-grow: 1;
    flex-direction: column;
    max-width: 17%;
    margin-bottom: 20px;
    padding: 0 1%;

    &:hover {
      cursor: pointer;

      .movies-grid__img {
        opacity: 0.8;
      }

      .movies-grid__title {
        color: $buttonColor;
      }
    }
  }

  &__img {
    margin-bottom: 10px;
    height: 200px;
    width: auto;
    object-fit: contain;
  }

  &__title {
    font-size: 14px;
    text-align: center;
    color: $textColor;
  }

  &__default {
    font-weight: bold;
    font-size: 14px;
    color: $textColor;
  }
}

@media screen and (max-width: 420px) {
  .movies-grid {
    &__item {
      flex-basis: 48%;
      max-width: 48%;
    }

    &__img {
      height: 150px;
    }
  }
}