@import '../../const/const.scss';

.list-movies {
  padding: 50px 100px;

  &__header {
    margin-bottom: 10px;
    color: $textColor;
  }
}

@media screen and (max-width: 420px) {
  .list-movies {
    padding: 20px;
  }
}